@charset "utf-8";
@import url(reset.css);
@import url(common.css);
	
	
	/*.second-banner{width: 100%;height: 100vh;background:url(../images/company_bg.jpg) no-repeat;background-size:cover;position: relative;background-attachment:fixed;}*/
	.second_txt p{font-size: 2em;text-align: center;color: #fff;position:absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);}

	/*@media screen (max-width: 300px) and (min-width:1900px){
		.front .main-banner .top .main-logo{left: 50%;transform:translate(-50%,-30%);}
	}*/
/*bottom-scroll*/
	.bottom-click{position: absolute;bottom: -80px;left: 50%;margin-left: -45px;text-align: center;}
	.b_txt{color: #fff;}
	.bottom-click .bottom-link{
	width: 15px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: block;
    margin: 0 auto;

	}
	.bottom-click .bottom-link .bullet {
     display: block;
    margin: 0 auto;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    animation: scrollDownUp .8s infinite;
    }


    @keyframes scrollDownUp {
  0%   { top:10px;}
  50%  {top:20px;}
  100% { top:10px;}
}
/*메인페이지*/
	#main_page{width: 100%; height: 100%;}
	.pages{width: 100%; height: 100% ;
			background-repeat: no-repeat;
			background-position: center top; 
			background-size:cover;background-image:url(../images/pg_bg.jpg);}
/*page2*/
	#page2{position: relative;}
	#page2 #move2{position: relative;width: 1200px;min-height:730px;_height: 100%;margin: 0 auto;}
	#move2 .main2_txt{position: absolute;top: 248px;left: 50%;margin-left: -23px;opacity:0;}
	#move2 .main2_txt h2{text-align: center;font-size: 2em;color: #fff !important;}
	#move2 .main2_txt h2:after{content:"";display: block;border-bottom: 2px solid #14b6e4;}
	/*#page2 div.main2_txt.mactive{transform:translateY(-250px);transition: all 800ms ease;opacity: 1;}*/
    #page2 div.main2_txt.mactive{top:300px;left: 55px;opacity:1;transition: all 800ms ease;}
	#move2 .main2_img{width: 1230px;_background-color: aqua;position: absolute;bottom: 6px;left: 0;}
	#move2 .main2_img ul li{float: left;overflow: hidden;width: 295px;height: 295px;}
	#move2 .main2_img ul li span{}

	#move2 a.more_btn{position: absolute;top: 60px;right: 26px;display: block;width: 120px;height: 35px;
					  border: 1px solid #14b6e4;color: #14b6e4;
					  text-align: center; line-height: 35px;
					  border-radius:5px;
					  }
	#move2 a.more_btn:hover{border: none;background-color: #14b6e4;color: #fff;}

	#move2 .hover-wrap .grid__item-caption h3{text-align: center;}
/*page3*/
	#page3{}
	#page3 #move3{width: 1200px;position: relative;min-height:730px;_height: 100%;margin: 0 auto;}
	#move3 .main3_txt{position: absolute;top: 248px;left: 50%;margin-left: -47px;opacity:0;}
	#move3 .main3_txt h2{text-align: center;font-size: 2em;color: #fff !important;}
	#move3 .main3_txt h2:after{content:"";display: block;border-bottom: 2px solid #14b6e4;}
	/*#page3 div.main3_txt.mactive{transform:translateY(-250px);opacity: 1;}*/
	#page3 div.main3_txt.mactive{top:300px;left: 55px;opacity:1;transition: all 800ms ease;}
	#move3 .main3_img{width: 1200px;position: absolute;bottom: -20px;left: 50%;margin-left: -600px;}

	.play-slider{display: none;width: 900px;margin: 0 auto;_min-height: 700px;padding: 50px 0;position: relative;_overflow: hidden;z-index:0;}
	.uni_playlist{margin: 0 auto;_overflow: hidden;}
	.uni_playlist li{_padding: 20px;height: 471px;_overflow: hidden;/*transition:.3s;*/}
	.uni_playlist li div.alb-wrap{width: 900px;height: 225px;border: 1px solid #fff;background-color: #ccc;}
	.uni_playlist li div.alb-wrap .ab-img{}
	.uni_playlist li div.alb-wrap .ab-img img{width: 100%;}
	.uni_playlist li div.alb-wrap .ab-title h3{font-size: 24px;padding-top:60px;}
	.uni_playlist li div.alb-wrap .ab-ati{padding-top: 60px;font-size: 16px;}
	.uni_playlist li div.alb-wrap .ab-abtit{padding-top: 60px;font-size: 16px;}


	.uni_playlist li div.alb-wrap .ab-title span{display: block;padding-top: 20px;font-size: 16px;}
	.uni_playlist li div.alb-wrap .ab-ati span{font-size: 24px;display:block;padding-bottom: 10px;}
	.uni_playlist li div.alb-wrap .ab-abtit span{padding-bottom: 10px;font-size: 24px;display: block;}
	.uni_playlist li div.alb-wrap .ab-ati,.uni_playlist li div.alb-wrap .ab-title{height: 225px;border-right: 1px solid #fff;}
	.uni_playlist li div.alb-wrap .ab-abtit .fa-headphones-alt{color: #fff;padding-top: 30px;display: block;font-size: 24px;cursor:pointer;transition:.3s ease-in-out;}
	.uni_playlist li div.alb-wrap .ab-abtit .fa-headphones-alt:hover{color: #14b6e4;}

	#prevBtn>a{width: 61px;height: 33px;display: block;background:url(../images/playlist/up.png);position: absolute;top: -30px;left: 50%;margin-left:-30px;}
	#nextBtn>a{width: 61px;height: 33px;display: block;background:url(../images/playlist/down.png);position: absolute;bottom: 30px;left: 50%;margin-left:-30px;}

	.uni_playlist li div.or1{margin-bottom: 20px;}

	.bx-wrapper{background:none;box-shadow:none;border: none;}



	@media (min-width:1360px){
		#move2 .main2_txt{top: 290px;}
		#move2 .main2_img{bottom: 50px;transform: scale(.8);}
		#move2 a.more_btn{top: 80px;right: 152px;}
		.play-slider{transform:scale(.8);top: 100px;}
		#move3 .main3_txt{/*top: 547px;left: -300px*/margin-left: 0;opacity:0;}
		
		#move3 .main3_img {bottom: 45px;}
	}